h1{
    color: #AD1F1F;
}
body{
    background-color: #E6E6E6
}

.informacoesAnimais{
    background-color: #D9D9D9;
    border-radius: 20px;
}
.imagemEstrutura{
    width: 32px;
    size: 32px;
}
.opcoes{
    display: flex;/*Deixa na horizontal*/
    justify-content: space-evenly;
}

.FichaAnimal_st{
     display: flex;/*Deixa na horizontal*/
     flex-wrap: wrap; /*Se ocupar mais que a horizontal da pagina, pula linha*/
     ul{ /*Cor dos icones de perfil, estilo*/
    background-color: #ACACAC;
    border-radius: 20px;
    }
}
