h1{
    color: #AD1F1F;
}
body{
    background-color: #E6E6E6
}

.informacoesAnimais{
    background-color: #D9D9D9;
}
.imagemEstrutura{
    width: 32px;
    size: 32px;
}
.opcoes{
    display: flex;/*Deixa na horizontal*/
    justify-content: space-evenly;
}